- provide(:title, t('.title'))

- content_for :main_body do
  .container-fluid.p-0
    .row
      .col-md-12
        %table.text-center.table-bordered.table-sm{:'data-toggle' => "table", :"data-pagination"=>"true", :"data-search" => "true",:'data-advanced-search'=>"true", :'data-id-table'=>"advancedTable"}
          %thead.thead-light
            %tr
              %th{:scope => "col"} #
            
              %th{:scope => "col"}
                = Setting.notices.title
              %th{:scope => "col"}
                = Setting.notices.content
              %th{:scope => "col"}
          %tbody
            - @notices.each_with_index do |notice, index|
              %tr
                %td{:scope => "row"}
                  = index+1
              
                %td
                  = notice.title
                %td
                  = notice.content
                %td
                  .container-fluid
                    .row
                      = link_to notice_path(notice), :class => "text-info col" do
                        = fa_icon "search"
                      = link_to edit_notice_path(notice), :class => "text-success col" do
                        = fa_icon "edit"
                      = link_to notice, :method => :delete, :data => {:confirm => "确定删除吗?"}, :class => "text-danger col" do
                        = fa_icon "trash"

= render "layouts/control_panel"
