.container-fluid
  .row.justify-content-sm-center
    .col-sm-12
      = form_for @examine, :builder => WebsiteFormBuilder, :html => {:'data-parsley-validate' => true} do |f|
        - if @examine.errors.any?
          #error_explanation.alert.alert-danger.alert-dismissible.fade.show
            %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
              %span{"aria-hidden" => "true"} x 
            %h2= "#{pluralize(@examine.errors.count, "error")} prohibited this buyer from being saved:"
            %ul
              - @examine.errors.full_messages.each do |msg|
                %li= msg
      
        .form-group.row
          = f.label Setting.examines.name, :class => "col-sm-3 col-form-label text-right"
          .col-sm-6
            = f.text_field :name, :class => "form-control rounded-0", :required => true
          
      
      
      
      
      
        -#
          .form-group.row
            = f.label "关联对象", :class => "col-3  text-right col-form-label"
            .col-9
              .row
                = f.fields_for :exm_items do |exm_item|
                  = render 'exm_item_fields', f: exm_item 
                .links
                  = link_to_add_association "添加", f, :exm_items, :class => "button button-primary"
      
        .form-group.row
          .col-3.offset-3
            = f.submit '保存', :class => "button button-action"
          -#
            .col-3.offset-1
              = link_to '返回', examines_path, :class => "button button-caution"
