- provide(:title, t('.title'))

- content_for :main_body do
  .container-fluid.p-0
    .row
      .col-md-12
        %table.text-center.table-sm{:'data-toggle' => "table", :"data-pagination"=>"true", :'data-id-table'=>"advancedTable"}
          %thead
            %tr
              %th{:scope => "col"} #
            
              %th.w-50{:scope => "col"}
                = Setting.examines.name
              %th.w-50{:scope => "col"}
                设置
          %tbody
            - @examines.each_with_index do |examine, index|
              %tr
                %td{:scope => "row"}
                  = index+1
              
                %td
                  = examine.name
                %td
                  .container-fluid
                    .row.justify-content-center.align-items-center
                      = link_to "编辑", edit_examine_path(examine), :class => "button button-highlight button-small mr-1" 
                      = fa_icon "long-arrow-right" 
                      = link_to "组织目录",  drct_org_examine_path(examine), :class => "button button-primary button-small mr-1" 
                      -unless examine.hierarchy.blank?
                        = fa_icon "long-arrow-right" 
                        = link_to "生成",  export_examine_path(examine), :class => "button button-action button-small mr-1" 
                        = fa_icon "long-arrow-right" 
                        = link_to "历史版本",  examine_documents_path(examine), :class => "button button-royal button-small mr-1" 
                      = link_to "删除",  examine, :method => :delete, :data => {:confirm => "确定删除吗?"}, :class => "button button-caution button-small" 
                      -#
                        = link_to "详细",  examine_path(examine), :class => "button button-primary button-small mr-1" 

= render "layouts/control_panel"

#exportModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exportModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog.modal-dialog-centered.modal-xl
    .modal-content
      .modal-body
        .export-status-ctn
          系统处理中,请勿关闭浏览器窗口!
