- provide(:title, t('.title'))

- content_for :main_body do
  .container-fluid.p-0
    .row
      .col-md-12
        -#
          %table.text-center.table-striped.table-sm{:'data-toggle' => "table", :"data-pagination"=>"true", :"data-search" => "true",:'data-advanced-search'=>"true", :'data-id-table'=>"advancedTable"}
        %table.text-center.table-striped.table-sm{:'data-toggle' => "table", :"data-pagination"=>"true", :'data-id-table'=>"advancedTable"}
          %thead
            %tr
              %th{:scope => "col"} #
            
              %th{:scope => "col"}
                = Setting.templates.name
              %th{:scope => "col"}
                = Setting.templates.image
              %th{:scope => "col"}
                = Setting.templates.index
              %th{:scope => "col"}
                = Setting.templates.new
              %th{:scope => "col"}
                = Setting.templates.edit
              %th{:scope => "col"}
                = Setting.templates.show
              %th{:scope => "col"}
                = Setting.templates.form
              %th{:scope => "col"}
                = Setting.templates.js
              %th{:scope => "col"}
                = Setting.templates.scss
              %th{:scope => "col"}
                = Setting.templates.admin
              %th{:scope => "col"}
                设置
          %tbody
            - @templates.each_with_index do |template, index|
              %tr
                %td{:scope => "row"}
                  = index+1
                %td
                  = template.name
                %td
                  = template.image
                %td
                  = template.index
                %td
                  = template.new
                %td
                  = template.edit
                %td
                  = template.show
                %td
                  = template.form
                %td
                  = template.js
                %td
                  = template.scss
                %td
                  = template.admin
                %td
                  .container-fluid
                    .row
                      = link_to "编辑", edit_template_path(template), :class => "button button-highlight button-small mr-1"
                      = link_to "详细", template_path(template), :class => "button button-primary button-small mr-1"
                      = link_to "删除", template, :method => :delete, :data => {:confirm => "确定删除吗?"}, :class => "button button-caution button-small mr-1"
                      = link_to "导出", produce_template_path(template), :class => "text-primary col"

= render "layouts/control_panel"
