.container-fluid
  .row.justify-content-sm-center
    .col-sm-12
      = form_for @ocr, :url => { :controller => 'ocrs', :action => 'analyze'}, :builder => WebsiteFormBuilder do |f|
        - if @ocr.errors.any?
          #error_explanation
            %h2= "#{pluralize(@ocr.errors.count, "error")} prohibited this buyer from being saved:"
            %ul
              - @ocr.errors.full_messages.each do |msg|
                %li= msg
      
        .form-group.row
          .col-sm-6
            .form-check.form-check-inline
              = f.radio_button :ocr_type, Setting.ocrs.general, :class => "form-check-input", :checked => "checked"
              = f.label "文字识别", :class => "form-check-label"
            .form-check.form-check-inline
              = f.radio_button :ocr_type, Setting.ocrs.form, :class => "form-check-input"
              = f.label "表格识别", :class => "form-check-label"
          .col-sm-6
            %p.text-danger
              上传小于1M, 【尺寸大于20px, 小于4000px】的图片
            -#
              .col-sm-6
                %p.text-danger
                  上传小于1M, 大于20px, 小于4000px的图片,最多4张图片
              .form-check.form-check-inline
                = f.radio_button :ocr_type, Setting.ocrs.webimage, :class => "form-check-input"
                = f.label Setting.ocrs.webimage_title, :class => "form-check-label"
              .form-check.form-check-inline
                = f.radio_button :ocr_type, Setting.ocrs.handwritten, :class => "form-check-input"
                = f.label Setting.ocrs.handwritten_title, :class => "form-check-label"
              .form-check.form-check-inline
                = f.radio_button :ocr_type, Setting.ocrs.number, :class => "form-check-input"
                = f.label Setting.ocrs.number_title, :class => "form-check-label"
            -#
              .form-check.form-check-inline
                = f.radio_button :ocr_type, Setting.ocrs.formula, :class => "form-check-input"
                = f.label Setting.ocrs.formula_title, :class => "form-check-label"
              .form-check.form-check-inline
                = f.radio_button :ocr_type, Setting.ocrs.stamp, :class => "form-check-input"
                = f.label Setting.ocrs.stamp_title, :class => "form-check-label"
              .form-check.form-check-inline
                = f.radio_button :ocr_type, Setting.ocrs.finance, :class => "form-check-input"
                = f.label Setting.ocrs.finance_title, :class => "form-check-label"
      
        .form-group
          -#
            = f.label "图片", :class => "col-sm-1 control-label"
          .col-sm-12
            .row
              = f.fields_for :enclosures do |enclosure|
                = render 'enclosure_fields', f: enclosure
              -#
                .links
                  = link_to_add_association "添加文件", f, :enclosures, :class => "button button-primary button-small"
      
      
        .form-group.row
          .col-sm-3.offset-sm-2
            = f.submit '识别', :class => "btn-ocr-submit button button-royal button-small"
        .form-group.row
          .col-sm-12
            .progress.ocr-progress
              .progress-bar.w-100.progress-bar-striped.progress-bar-animated{:role => "progressbar", :"aria-valuenow" => "100", :"aria-valuemin" => "0", :"aria-valuemax" => "100"}
          -#
            .col-sm-3.offset-sm-1
              = link_to '返回', ocrs_path, :class => "btn btn-danger"
