- provide(:title, t('.title'))

-#
  .container.home-index
  .row
    .col-12
      %h2
        找比中
    .col-12
      #custom-search-input
        .input-group
          %input.search-query.form-control{:placeholder => "", :type => "text"}/
          %span.input-group-btn
            %button{:disabled => "disabled", :type => "button"}
              %span.fa.fa-search
%section.my-3
  .container
    .row
      .col-3
        .card.rounded-0
          .card-header.bg-white.text-primary.p-2
            业绩
          .card-body.p-0
            %ul.list-group.list-group-flush
              %li.list-group-item.d-flex.justify-content-between.align-items-center.py-2
                业绩
                %span.badge.badge-primary.badge-pill 14
              %li.list-group-item.d-flex.justify-content-between.align-items-center.py-2
                业绩
                %span.badge.badge-primary.badge-pill 14
              %li.list-group-item.d-flex.justify-content-between.align-items-center.py-2
                业绩
                %span.badge.badge-primary.badge-pill 14
              %li.list-group-item.d-flex.justify-content-between.align-items-center.py-2
                业绩
                %span.badge.badge-primary.badge-pill 14
              %li.list-group-item.d-flex.justify-content-between.align-items-center.py-2
                业绩
                %span.badge.badge-primary.badge-pill 14
      .col-6
        %main{:role => "main"}
          - content_for :carousel_first_img do
            = image_tag "car1.png", :class => "d-block w-100"
          - content_for :carousel_second_img do
            = image_tag "car1.png", :class => "d-block w-100"
          - content_for :carousel_third_img do
            = image_tag "car1.png", :class => "d-block w-100"
          = render "layouts/bootstrap/carousel"
      .col-3
        .row
          .col-6.pl-0
            .border.text-center.pt-4.mb-2.py-2
              %a{:href => "#"}
                %p.mb-0
                  %i.fa.fa-group.fa-4x.text-success
                %p.mb-0.text-muted
                  比选人系统
            .border.text-center.pt-4.py-2
              %a{:href => "#"}
                %p.mb-0
                  %i.fa.fa-id-badge.fa-4x.text-primary
                %p.mb-0.text-muted
                  比选申请人系统
          .col-6.pl-0
            .border.d-flex.justify-content-center.align-items-center.py-3.mb-1
              %a{:href => "#"}
                %p.mb-0
                  %i.fa.fa-user.text-primary
                  注册
            .border.d-flex.justify-content-center.align-items-center.py-3.mb-1
              %a{:href => "#"}
                %p.mb-0
                  %i.fa.fa-weixin.text-primary
                    在线客服
            .border.d-flex.justify-content-center.align-items-center.py-3.mb-1
              %a{:href => "#"}
                %p.mb-0
                  %i.fa.fa-mobile.text-primary
                    手机客户端
            .border.d-flex.justify-content-center.align-items-center.py-3.mb-1
              %a{:href => "#"}
                %p.mb-0
                  %i.fa.fa-map.text-primary
                    地图

%section.my-3
  .container
    .row
      .col-3
        .card.rounded-0
          .card-header.bg-white.text-primary.p-2
            法律*通知
          .card-body.px-0.py-1
            %ul.mb-0
              - 10.times do |j|
                %li.py-1.text-primary
                  = link_to truncate("业绩业业业业业业业业绩绩绩绩绩绩绩绩", :length => 14), "#", :class => "text-body"
      .col-9
        .card.rounded-0
          .card-header.bg-white.text-primary.p-0.border-0
            %nav
              .index-nav-tab.nav.nav-tabs{:role => "tablist"}
                %a#nav-home-tab.nav-item.nav-link.active{"aria-controls" => "nav-home", "aria-selected" => "true", "data-toggle" => "tab", :href => "#nav-home", :role => "tab"}
                  工程项目比选公告
                %a#nav-profile-tab.nav-item.nav-link{"aria-controls" => "nav-profile", "aria-selected" => "false", "data-toggle" => "tab", :href => "#nav-profile", :role => "tab"} E固定价
                %a#nav-contact-tab.nav-item.nav-link{"aria-controls" => "nav-contact", "aria-selected" => "false", "data-toggle" => "tab", :href => "#nav-contact", :role => "tab"} Contact
          #nav-tabContent.tab-content.py-1
            #nav-home.tab-pane.fade.show.active{"aria-labelledby" => "nav-home-tab", :role => "tabpanel"}
              %ul.mb-0
                - 10.times do |i|
                  %li.py-1.text-primary
                    .row
                      .col-8
                        = link_to truncate("业绩业业业业业业业绩绩绩绩绩绩绩绩绩绩绩绩绩绩绩绩", :length => 20), "#", :class => "text-body"
                      .col-2
                        %p.text-muted.font-weight-light.mb-0
                          48.00万
                      .col-2
                        %p.text-muted.font-weight-light.mb-0
                          2020-02-24
            #nav-profile.tab-pane.fade{"aria-labelledby" => "nav-profile-tab", :role => "tabpanel"} ...
            #nav-contact.tab-pane.fade{"aria-labelledby" => "nav-contact-tab", :role => "tabpanel"} ...

%section.my-3
  .container
    .row
      .col-3
        .card.rounded-0
          .card-header.bg-white.text-primary.p-2
            法律*通知
          .card-body.px-0.py-1
            %ul.mb-0
              - 13.times do |j|
                %li.py-1.text-primary
                  = link_to truncate("业绩业业业业业业业业绩绩绩绩绩绩绩绩", :length => 14), "#", :class => "text-body"
      .col-9
        .row.mb-3
          .col-12
            = image_tag "ad-weixin.png", :class => "w-100"
        .card.rounded-0
          .card-header.bg-white.text-primary.p-0.border-0
            %nav
              .index-nav-tab.nav.nav-tabs{:role => "tablist"}
                %a#nav-agent-tab.nav-item.nav-link.active{"aria-controls" => "nav-agent", "aria-selected" => "true", "data-toggle" => "tab", :href => "#nav-agent", :role => "tab"}
                  工程项目比选公告
                %a#nav-law-tab.nav-item.nav-link{"aria-controls" => "nav-law", "aria-selected" => "false", "data-toggle" => "tab", :href => "#nav-law", :role => "tab"} E固定价
                %a#nav-score-tab.nav-item.nav-link{"aria-controls" => "nav-score", "aria-selected" => "false", "data-toggle" => "tab", :href => "#nav-score", :role => "tab"} Contact
          #agent-tabContent.tab-content.py-1
            #nav-agent.tab-pane.fade.show.active{"aria-labelledby" => "nav-agent-tab", :role => "tabpanel"}
              %ul.mb-0
                - 10.times do |i|
                  %li.py-1.text-primary
                    .row
                      .col-8
                        = link_to truncate("业绩业业业业业业业绩绩绩绩绩绩绩绩绩绩绩绩绩绩绩绩", :length => 20), "#", :class => "text-body"
                      .col-2
                        %p.text-muted.font-weight-light.mb-0
                          48.00万
                      .col-2
                        %p.text-muted.font-weight-light.mb-0
                          2020-02-24
            #nav-law.tab-pane.fade{"aria-labelledby" => "nav-law-tab", :role => "tabpanel"} ...
            #nav-score.tab-pane.fade{"aria-labelledby" => "nav-score-tab", :role => "tabpanel"} ...

%section.my-3
  .container
    .row
      .col-3
        .card.rounded-0.mb-3
          .card-header.bg-white.text-primary.p-2
            企业展厅
          .card-body.p-2
            .border.d-flex.justify-content-center.align-items-center.mb-1
              %a{:href => "#"}
                = image_tag "qyzt.gif"
            .border.d-flex.justify-content-center.align-items-center.mb-1
              %a{:href => "#"}
                = image_tag "qyzt.gif"
            .border.d-flex.justify-content-center.align-items-center.mb-1
              %a{:href => "#"}
                = image_tag "xwyd.gif"
            .border.d-flex.justify-content-center.align-items-center.mb-1
              %a{:href => "#"}
                = image_tag "xwyd.gif"
        .card.rounded-0
          .card-header.bg-white.text-primary.p-2
            友情链接
          .card-body.p-2
            .row
              .col-7
                = link_to "四川省人民政府", "#", :class => "text-muted"
              .col-5
                = link_to "四川在线", "#", :class => "text-muted"
              .col-7
                = link_to "四川省发改委", "#", :class => "text-muted"
              .col-5
                = link_to "四川日报", "#", :class => "text-muted"
                
      .col-9
        .row.mb-3
          .col-12
            = image_tag "ad-weixin.png", :class => "w-100"
        .card.rounded-0
          .card-header.bg-white.text-primary.p-0.border-0
            %nav
              .index-nav-tab.nav.nav-tabs{:role => "tablist"}
                %a#nav-hot-tab.nav-item.nav-link.active{"aria-controls" => "nav-hot", "aria-selected" => "true", "data-toggle" => "tab", :href => "#nav-hot", :role => "tab"}
                  工程项目比选公告
                %a#nav-recommend-tab.nav-item.nav-link{"aria-controls" => "nav-recommend", "aria-selected" => "false", "data-toggle" => "tab", :href => "#nav-recommend", :role => "tab"} E固定价
                %a#nav-rule-tab.nav-item.nav-link{"aria-controls" => "nav-rule", "aria-selected" => "false", "data-toggle" => "tab", :href => "#nav-rule", :role => "tab"} Contact
          #hot-tabContent.tab-content.py-1
            #nav-hot.tab-pane.fade.show.active{"aria-labelledby" => "nav-hot-tab", :role => "tabpanel"}
              %ul.mb-0
                - 10.times do |i|
                  %li.py-1.text-primary
                    .row
                      .col-8
                        = link_to truncate("业绩业业业业业业业绩绩绩绩绩绩绩绩绩绩绩绩绩绩绩绩", :length => 20), "#", :class => "text-body"
                      .col-2
                        %p.text-muted.font-weight-light.mb-0
                          48.00万
                      .col-2
                        %p.text-muted.font-weight-light.mb-0
                          2020-02-24
            #nav-recommend.tab-pane.fade{"aria-labelledby" => "nav-recommend-tab", :role => "tabpanel"} ...
            #nav-rule.tab-pane.fade{"aria-labelledby" => "nav-rule-tab", :role => "tabpanel"} ...
