= fa_icon "quote-left 4x", class: "text-muted pull-left"

= content_tag(:li, fa_icon("dollar li", text: "Bulleted list item"))

= fa_stacked_icon "dollar", base: "square-o", class: "text-primary"

= fa_stacked_icon "dollar inverse", base: "circle", class: "fa-5x"

= fa_stacked_icon "terminal inverse", base: "square", class: "pull-right", text: "Hi!"



