- provide(:title, t('.title'))

- content_for :main_body do
  .container-fluid.p-0
    .row
      .col-md-12
        %table.text-center.table-sm{:'data-toggle' => "table", :"data-pagination"=>"true", :'data-id-table'=>"advancedTable"}
          %thead
            %tr
              %th{:scope => "col"} #
            
              %th.w-50{:scope => "col"}
                = Setting.agendas.title
              %th.w-25{:scope => "col"}
                = Setting.agendas.worktime
              %th{:scope => "col"}
                设置
          %tbody
            - @agendas.each_with_index do |agenda, index|
              %tr
                %td{:scope => "row"}
                  = index+1
              
                %td
                  = agenda.title
                %td
                  = agenda.worktime.strftime("%Y-%m-%d %H:%M:%S")
                %td
                  .container-fluid
                    .row.justify-content-center
                      = link_to "编辑", edit_agenda_path(agenda), :class => "button button-highlight button-small mr-1" 
                      = link_to "详细",  agenda_path(agenda), :class => "button button-primary button-small mr-1" 
                      = link_to "删除",  agenda, :method => :delete, :data => {:confirm => "确定删除吗?"}, :class => "button button-caution button-small" 

= render "layouts/control_panel"
