- provide(:title, t('.title'))

- content_for :main_body do
  .container-fluid.p-0
    .row
      .col-md-8.offset-2
        .card-body
          .container-fluid
            .row
              .col-md-12
                = @agenda.title
              .col-md-12
                = @agenda.worktime.strftime("%Y-%m-%d %H:%M:%S")
            
              .col-md-12
                = Setting.agendas.content
                %p
                  = @agenda.content
            
            
            .row
              .col-md-6
                - unless @agenda.idattch.blank?
                  = link_to URI.decode(File.basename(@agenda.idattch_url)), download_append_agenda_path(@agenda.id)
            
            
= render "layouts/control_panel"
