.card.border-0.rounded-0
  #headingThree.card-header.p-0.bg-transparent
    = link_to nil,  {:class => "d-flex p-3 text-decoration-none bg-19212E text-white", :"aria-controls" => "collapseThree", :"aria-expanded" => "true", :"data-target" => "#collapseThree", :"data-toggle" => "collapse"} do
      = fa_icon "area-chart", text: "管理面板", class: "mx-3"
      
  #collapseThree.collapse{"aria-labelledby" => "headingThree", "data-parent" => "#accordionExample"}
    .card-body.p-0
      %ul.list-group.list-group-flush.sidebar-lists
        = link_to templates_path, :class => "list-group-item list-group-item-action border-0 text-left pl-4 py-2 bg-1B1B27 text-white" do
          = fa_icon "circle-o", text: "模板管理", class: "ml-4 mr-1"
          -#
            %span.badge.badge-primary.badge-pill.pull-right
              14
        = link_to articles_path, :class => "list-group-item list-group-item-action border-0 text-left pl-4 py-2 bg-1B1B27 text-white" do
          = fa_icon "circle-o", text: "文章管理", class: " ml-4 mr-1"
        = link_to roles_path, :class => "list-group-item list-group-item-action border-0 text-left pl-4 py-2 bg-1B1B27 text-white" do
          = fa_icon "circle-o", text: "角色管理", class: "ml-4 mr-1"
        = link_to notices_path, :class => "list-group-item list-group-item-action border-0 text-left pl-4 py-2 bg-1B1B27 text-white" do
          = fa_icon "circle-o", text: "通知公告", class: "ml-4 mr-1"
        = link_to statistics_path, :class => "list-group-item list-group-item-action border-0 text-left pl-4 py-2 bg-1B1B27 text-white" do
          = fa_icon "circle-o", text: "数据统计", class: "ml-4 mr-1"
        = link_to spiders_path, :class => "list-group-item list-group-item-action border-0 text-left pl-4 py-2 bg-1B1B27 text-white" do
          = fa_icon "circle-o", text: "爬虫", class: "ml-4 mr-1"
