- provide(:title, t('.title'))

- content_for :main_body do
  .container-fluid.p-0
    .row
      .col-md-12
        %table.text-center.table-striped.table-sm{:'data-toggle' => "table", :"data-pagination"=>"true", :'data-id-table'=>"advancedTable"}
          %thead
            %tr
              %th{:scope => "col"} #
            
              %th{:scope => "col"}
                = Setting.archives.name
              %th{:scope => "col"}
                = Setting.archives.desc
              %th{:scope => "col"}
                设置
          %tbody
            - @archives.each_with_index do |archive, index|
              %tr
                %td{:scope => "row"}
                  = index+1
              
                %td
                  = archive.name
                %td
                  = archive.desc
                %td
                  .container-fluid
                    .row
                      = link_to "编辑", edit_archive_path(archive), :class => "button button-highlight button-small mr-1" 
                      = link_to "上传文件", archive_file_libs_path(archive), :class => "button button-primary button-small mr-1" 
                      = link_to "删除",  archive, :method => :delete, :data => {:confirm => "确定删除吗?"}, :class => "button button-caution button-small" 

= render "layouts/control_panel"
