- provide(:title, t('.title'))

- content_for :main_body do
  .container-fluid.p-0
    .row
      .col-md-12
        .card-body
          .container-fluid
            .row
            
              .col-md-12
                = Setting.file_libs.name
                = @file_lib.name
            
              .col-md-12
                = Setting.file_libs.path
                = @file_lib.path
            
              .col-md-12
                = Setting.file_libs.file_type
                = @file_lib.file_type
            
            .row
            
            .row
            
            .row
            
            
            .row
            

= render "layouts/control_panel"
