!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge"}
    %title= "#{yield(:title)} - #{t('.site_title')}"
    = javascript_include_tag 'application'
    = javascript_include_tag Ckeditor.cdn_url
    = stylesheet_link_tag    'application', media: 'all'
    = csrf_meta_tags
    = include_gon

  %body{:class=>"#{controller_name} #{action_name}"}

    = render "layouts/control_header"

    = yield
