!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge"}
    %title= "#{yield(:title)} - #{t('.site_title')}"
    = javascript_include_tag 'application'
    = stylesheet_link_tag    'application', media: 'all'
    = csrf_meta_tags
    = include_gon

  %body{:class=>"#{controller_name} #{action_name}"}

    = render "layouts/home_header"

    = yield
    
    -#
      = render "layouts/home_footer"
